ARMagicPortal_ARFoundation/*.sln
ARMagicPortal_ARFoundation/*.csproj
ARMagicPortal_ARFoundation/.vs/
ARMagicPortal_ARFoundation/.vscode/
ARMagicPortal_ARFoundation/Library/

ARMagicPortal_MagicLeap/*.sln
ARMagicPortal_MagicLeap/*.csproj
ARMagicPortal_MagicLeap/.vs/
ARMagicPortal_MagicLeap/.vscode/
ARMagicPortal_MagicLeap/Library/

